---
import { siteResources } from '../config/siteResources';
import NavBrand from '../lib/components/NavBrand.svelte';
---

<link rel="preload" as="image" href="/images/profile.png" />
<link rel="preload" as="image" href="/images/profile_alt.png" />

<header>
	<NavBrand client:load />

	<div class="header-right">
		<nav>
			<ul>
				<li>
					<a
						class="icon-link"
						href={siteResources.githubUrl}
						target="_blank"
						aria-label="GitHub"
					>
						<iconify-icon class="iconify-icon" icon="skill-icons:github-dark"
						></iconify-icon>
					</a>
				</li>
				<li>
					<a
						class="icon-link"
						href={siteResources.linkedInUrl}
						target="_blank"
						aria-label="LinkedIn"
					>
						<iconify-icon class="iconify-icon" icon="mdi:linkedin"></iconify-icon>
					</a>
				</li>
				<li>
					<a class="icon-link resume-link" href={siteResources.resumeUrl} target="_blank">
						<iconify-icon class="iconify-icon" icon="mdi:file-pdf-box"></iconify-icon>
						<span>Resume</span>
					</a>
				</li>
				<li>
					<a class="icon-link email-link" href={`mailto:${siteResources.emailAddress}`}>
						<iconify-icon class="iconify-icon" icon="mdi:email"></iconify-icon>
						<span>Contact</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<style>
	header {
		padding: 0.75rem 1rem;
		background-color: var(--color-a);
		color: var(--color-l);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		overflow-x: hidden;
		border-bottom: 1px solid var(--color-border);
	}

	.header-right {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	ul {
		margin: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 0.4rem;
	}

	a:not(.icon-link) {
		text-decoration: none;
		color: inherit;
		padding: 0.5em;
		color: var(--color-l);
		font-weight: bold;
		box-sizing: border-box;
	}

	a:not(.icon-link):hover {
		text-decoration: underline;
		color: var(--color-h);
	}

	@media (max-width: 700px) {
		header {
			flex-direction: column;
			gap: 0.5em;
			background-color: var(--color-b);
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}

		ul {
			padding-left: 0;
		}

		.header-right {
			background-color: var(--color-a);
			width: 100%;
			justify-content: center;
			padding: 0.75rem 1rem;
		}

		nav {
			display: flex;
			justify-content: center;
		}
	}
</style>
